@import "tailwindcss";

body {
  font-family: 'Inter', sans-serif;
  background-color: #F7F8FA; /* Premium light gray */
  color: #111827;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Custom Scrollbar */
.dark-scroll::-webkit-scrollbar {
  width: 6px;
}

.dark-scroll::-webkit-scrollbar-track {
  background: #2A2A2D; 
}

.dark-scroll::-webkit-scrollbar-thumb {
  background: #444; 
  border-radius: 3px;
}

/* Hide scrollbar for clean UI but allow scroll */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
